.content {
  max-width: 600px;
  margin: 20px auto;
  font-family: "Lato", sans-serif;
}
.page-wrap {
  background-image: url(../images/sky.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  border-radius: 20px;
}

.search-field {
  margin: 15px;
  border-radius: 15px;
  position: relative;
  left: -15px;
}
.btn-primary {
  margin-top: 15px;
}
.city {
  font-size: 36px;
  padding-top: 10px;
  color: #fff;
}
.current-weather-title {
  color: #fff;
  opacity: 60%;
  line-height: 1.5;
  font-size: 16px;
}

#current-date {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}
.current-temp {
  line-height: 60px;
  font-size: 48px;
}

.unit {
  vertical-align: super;
  font-size: 60%;
  font-size: 15px;
}

#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
.weather-description {
  color: #fff;
  position: relative;
  top: 15px;
}
.feels {
  color: #fff;
  opacity: 50%;
  font-size: 15px;
  line-break: anywhere;
}
#feels-temp {
  font-weight: bold;
}
.cloud-cover {
  color: #fff;
  opacity: 50%;
  font-size: 15px;
  line-break: anywhere;
}
#cloud-value {
  font-weight: bold;
}
.wind {
  color: #fff;
  opacity: 50%;
  font-size: 15px;
  line-break: anywhere;
  position: relative;
  left: 10px;
}
#wind-value {
  font-weight: bold;
}
.pressure {
  color: #fff;
  opacity: 50%;
  font-size: 15px;
  line-break: anywhere;
  position: relative;
  left: 10px;
}
#pressure-value {
  font-weight: bold;
}
footer {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.git-link {
  text-decoration: none;
}
