.content {
  max-width: 600px;
  margin: 20px auto;
  font-family: "Lato", sans-serif;
}
.page-wrap {
  background-image: url(../images/sky.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  border-radius: 20px;
}

.search-field {
  margin: 15px;
  border-radius: 15px;
  position: relative;
  left: -15px;
}

.btn.btn-primary {
  margin-top: 15px;
  background-color: #5f98da;
  border-color: #5f98da;
}
#city {
  font-size: 36px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
}
.current-weather-title {
  color: rgb(0, 0, 0);
  opacity: 60%;
  line-height: 1.5;
  font-size: 16px;
}

#current-date {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: bold;
}
.current-temp {
  line-height: 60px;
  font-size: 48px;
}

.unit {
  vertical-align: super;
  font-size: 60%;
  font-size: 15px;
}

#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
#weather-description {
  color: rgb(0, 0, 0);
  position: relative;
  top: 19px;
  text-transform: capitalize;
}
.parameter-value {
  color: rgb(0, 0, 0);
}
.feels {
  color: rgb(0, 0, 0);

  font-size: 15px;
  line-break: anywhere;
}

.humidity {
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-break: anywhere;
}

.wind {
  color: rgb(0, 0, 0);

  font-size: 15px;
  line-break: anywhere;
  position: relative;
  left: 10px;
}

.pressure {
  color: rgb(0, 0, 0);

  font-size: 15px;
  line-break: anywhere;
  position: relative;
  left: 10px;
}

footer {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.git-link {
  text-decoration: none;
}
.current-temp .active {
  color: rgb(0, 0, 0);
  cursor: default;
}

.current-temp .active:hover {
  text-decoration: none;
}

.sections-separator {
  color: #689fdd;
  border-bottom: 1px solid #689fdd;
  width: 90%;
  margin: 50px 0 15px;
}

.forecast-section-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: 17px;
  letter-spacing: 0;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.date {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  margin: 8px 0;
  font-size: 15px;
}
#forecast-icon {
  margin-bottom: 8px;
}
.weather-forecast-min {
  opacity: 0.5;
  font-size: 13px;
}
.card-forecast {
  background: rgb(101, 156, 220, 0.3);
  padding: 20px 10px;
  border-radius: 10px;
  margin-left: 7px;
}
.first-card {
  text-align: center;
  margin-left: 13px;
  min-height: 170px;
  background: rgb(101, 156, 220, 0.3);
  padding: 20px 10px;
  border-radius: 10px;
}
.first-card:hover {
  background: rgba(249, 249, 185, 0.3);
}

.last-card-temp {
  margin-right: 15px;
}
